@import "@my-memos/ui/styles";
@import "./styles/prose.css";
@import "./styles/editor.css";

html,
body,
#svelte {
  min-height: 100%;
  background: var(--color-background);
  color: var(--color-foreground);
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
